body {background-color: black;
  	font-size: 25px; 
  	color:gray;
  	font-family: normal;
line-height: 1.6em;
  padding-top: 50px;
  padding-right: 200px;
  padding-bottom: 50px;
  padding-left: 200px;
  position: relative;
  overflow-y: scroll;
}


img{
  border-radius: 8px;
right: 50%;
top: 90px;
  display: block;
  width: 18%;}
  h1{
  text-align: center;
  font-size: 20px;}
  .box-1{border:56px;
  	border-color: red;}
  	#para1 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}
h1{
  font-size: 1.5em;
}
.sonn{
  float: left;
}

.sonn a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

 .sonn a:hover {
  background-color: #111111;
}
#khan{margin-right: 30%;
margin-left: 10% }


.khan1{margin-right: 30%;
margin-left: 2%; }
#my {
  border-radius: 15px 50px;
  background: #73AD21;
  position: absolute;
right: 4%;
top: 75px;
  display: block;
  width: 15%;}
  #my1{
  	position: absolute;
  border-radius: 15px 50px;
  background: #73AD21;
right: 1%;
top: 15%;
  display: block;
  width: 25%;}
  #lala{
margin-top:10%;}
div{
  background-color:  orange;
  width: 93%;
  padding: 1cm;
  margin-top: 0.5cm;
  line-height: 40px;
}
#zama{background-color:orange;
  width: 93%;
  border: 10px;
  padding: 1cm;
  margin-top: 20%; 
  line-height: 40px;
}
